NEXT_PUBLIC_YEET_COORDINATOR_WS=ws://localhost:8787
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_PROGRAM_ID=4LPQkrcqQojofvWRnBBmucCnuJGSMzxqLJm8u98DNGEd
NEXT_PUBLIC_YEET_DEPLOYER=BgN52Bk5DMdjSzufSFGyFdkarb7XeRESxB1sGmyZDWFJ
NEXT_PUBLIC_YEET_PROGRAM_ID=4LPQkrcqQojofvWRnBBmucCnuJGSMzxqLJm8u98DNGEd
NEXT_PUBLIC_YEET_NODE_PROFILE=
NEXT_PUBLIC_YEET_TASK_ESCROW=
NEXT_PUBLIC_YEET_OPEN_TASK_TX=
NEXT_PUBLIC_YEET_SETTLE_TASK_TX=
